header {
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;
    background: rgba(50, 50, 50, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 1000;
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    margin-left: 65px;
}

.navbar-right ul {
    list-style: none;
    margin: 0 30px 0 0;
    padding: 0;
    display: flex;
}

.navbar-right li {
    margin-right: 50px;
}

.navbar-right a {
    text-decoration: none;
    color: var(--green);
    padding: 10px 0;
    font-weight: 600;
}
